In [66]:
%matplotlib notebook

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [68]:
game_df = pd.read_csv("purchase_data.csv")
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [69]:
print("Number of Players") 
num_players = game_df["SN"].nunique()
num_players

Number of Players

576

In [70]:
#Number of Unique Items

print("Number of Unique Items")
game_df["Item ID"].nunique()

Number of Unique Items

183

In [71]:
# Average Purchase Price
print("Average Purchase Price")
round(game_df["Price"].mean(), 2)

Average Purchase Price

3.05

In [72]:
# Total Number of Purchases
print("Total Number of Purchases")
game_df["Purchase ID"].size

Total Number of Purchases

780

In [73]:
# Total Revenue
print("Total Revenue")
game_df["Price"].sum()

Total Revenue

2379.77

In [74]:
# Percentage and Count of Male Players
print("Percentage and Count of Male Players")
num_male = game_df[game_df["Gender"]=="Male"]["SN"].nunique()
percent_male = round((num_male/num_players)*100, 2)
percent_male, num_male

Percentage and Count of Male Players

(84.03, 484)

In [75]:
# Percentage and Count of Female Players
print("Percentage and Count of Female Players")
num_female = game_df[game_df["Gender"]=="Female"]["SN"].nunique()
percent_female = round((num_female/num_players)*100, 2)
percent_female, num_female

Percentage and Count of Female Players

(14.06, 81)

In [76]:
# Percentage and Count of Other / Non-Disclosed
print("Percentage and Count of Other / Non-Disclosed Players")
num_other = game_df[game_df["Gender"]=="Other / Non-Disclosed"]["SN"].nunique()
percent_other = round((num_other/num_players)*100, 2)
percent_other, num_other

Percentage and Count of Other / Non-Disclosed Players

(1.91, 11)

In [86]:
# Purchasing Analyis: Gender
gender_data = game_df.groupby("Gender")
gender_data

In [85]:
    # The below each broken by gender:
    # Purchase Count
purchase_count = gender_data["Purchase ID"].count()
    # Average Purchase Price
average_purchase_price = gender_data["Price"].mean()
    # Total Purchase Value
total_purchase_value = gender_data["Price"].sum()
    # Average Purchase Total per Person by Gender
average_purchase_total_per_person = total_purchase_value/purchase_count

# DataFrame including all above statistics
purchases_by_gender = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Average Purchase Total per Person": average_purchase_total_per_person})
purchases_by_gender

purchases_by_gender.style.format({ "Average Purchase Price": "${:,.2f}",
                                   "Total Purchase Value": "${:,.2f}",
                                   "Average Purchase Total per Person": "${:,.2f}"})

In [90]:
# Age Demographics
    #establish bins for different ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 120]
bin_group_names = ["<10", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40 & up"]

In [93]:
#Organzie data inputs into established bins
game_df["Age Group"] = pd.cut(game_df["Age"], age_bins, labels=bin_group_names)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 & up
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25

In [95]:
# Age Demographics
age_demo = game_df.groupby("Age Group")
age_demo

In [96]:
# The below each by age group
    # Purchase Count
purchase_count = age_demo["Purchase ID"].count()
    # Average Purchase Price
average_purchase_price = age_demo["Price"].mean()
    # Total Purchase Value
total_purchase_value = age_demo["Price"].sum()
    # Average Purchase Total per Person by Age Group
average_purchase_total_per_person = total_purchase_value/purchase_count

# DataFrame including all above statistics
purchases_by_age = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Average Purchase Total per Person": average_purchase_total_per_person})
purchases_by_age

purchases_by_age.style.format({ "Average Purchase Price": "${:,.2f}",
                                   "Total Purchase Value": "${:,.2f}",
                                   "Average Purchase Total per Person": "${:,.2f}"})

In [115]:
# Top Spenders
# By ScreenName
spender_data = game_df.groupby("SN")
# By Purchase Count
highest_purchases = spender_data["Purchase ID"].count()
# Average Purchase Price
average_purchase_price = spender_data["Price"].mean()
# Total Purchase Value
total_purchase_value = spender_data["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": highest_purchases,
                             "Average Purchase Price": average_purchase_price,
                             "Total Purchase Value": total_purchase_value})


top_spenders.style.format({ "Average Purchase Price": "${:,.2f}",
                            "Total Purchase Value": "${:,.2f}"})

top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending = False)

top_spenders.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [123]:
# Most Popular Items
# Create new dataframe
items = game_df[["Item ID", "Item Name", "Price"]]

#Groupby
item_data = items.groupby(["Item ID", "Item Name"])

# Items by Purchase Count
item_purchase_count = item_data["Price"].count()

# Items by Overall Purchase Value
item_purchase_value = item_data["Price"].sum()

# Items by Individual Price
item_price = item_purchase_value/item_purchase_count

most_popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                                   "Overall Purchase Value": item_purchase_value,
                                   "Individual Price": item_price})

most_popular_items.style.format({ "Purchase Count": "${:,.2f}",
                                  "Overall Purchase Value": "${:,.2f}",
                                  "Individual Price": "${:,.2f}" })

most_popular = most_popular_items.sort_values(["Purchase Count"], ascending = False)

most_popular.head()

,,Purchase Count,Overall Purchase Value,Individual Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
145,Fiery Glass Crusader,9,41.22,4.58
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,3.53
82,Nirvana,9,44.10,4.90
19,"Pursuit, Cudgel of Necromancy",8,8.16,1.02

In [127]:
# Most Profitable Items
most_profitable = most_popular_items.sort_values(["Overall Purchase Value"], ascending = False)

most_profitable.style.format({ "Purchase Count": "${:,.2f}",
                                  "Overall Purchase Value": "${:,.2f}",
                                  "Individual Price": "${:,.2f}" })

most_profitable.head()

,,Purchase Count,Overall Purchase Value,Individual Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
82,Nirvana,9,44.10,4.90
145,Fiery Glass Crusader,9,41.22,4.58
92,Final Critic,8,39.04,4.88
103,Singed Scalpel,8,34.80,4.35